

<div class="row marketing">
  <h5>Draw Bounding Box And Click "Search In Bounding Area" Button To Begin Searching...</h5>
                 <leaflet defaults="defaults" width="100%" height="450px" markers="markers" lf-center="map.center" lf-draw="map.drawOptions" event-broadcast="events"></leaflet>
                     <button class="btn btn-primary pull-right" ng-click="spatialSearch()"><i class="fa fa-search"/> Search In Bounding Area</button>

</div>
BASE Recharge: {{base_sum}}</br>
NEW Recharge: {{landuse_sum}}
